img {
    position: relative;
    border-radius: 50%;
    width: 311px;
    height: 311px;
    left: 30px;
}

h3 {
    position: relative;
    width: 311px;
    height: 64px;
    color: #495567;
    text-align: center;
    left: 30px;
}

p {
    position: relative;
    width: 311px;
    height: 100px;
    font-family: 'Lexend Deca';
    font-style: normal;
    color: #939CAA;
    text-align: center;
    left: 30px;
}