@media(min-width: 375px){
img {
        position: relative;
        border-radius: 50%;
        width: 311px;
        height: 311px;
        left: 30px;
    }

    h3 {
        position: relative;
        width: 311px;
        height: 64px;
        color: #495567;
        text-align: center;
        left: 30px;
    }

    p {
        position: relative;
        width: 311px;
        height: 100px;
        font-family: 'Lexend Deca';
        font-style: normal;
        color: #939CAA;
        text-align: center;
        left: 30px;
    }
}

@media(min-width: 1440px){
    img{
        position: relative;
        top: -230px;
        left: 130px;
    }

    h3{
        position: relative;
        width: 445px;
        height: 96px;
        font-weight: 700px;
        font-size: 48px;
        top: -575px;
        left: 700px;

    }

    p{
        position: relative;
        width: 445px;
        height: 75px;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        top: -600px;
        left: 700px;
    }
}
