h3{
    width:311px;
    height: 32px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size:32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.42857px;
    overflow: visible;
}

img{
    border-radius: 50%;
}

h4{
width: 311px;
    height: 28px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -1.42857px;
    overflow: visible;
}

p{
  width: 311px;
  height: 100px; 
  font-family: 'Lexend Deca'; 
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #939CAA;
}