<h3>Our values</h3>

<img class = "values" src="../../assets/images/our-tech.jpg" alt="">

<h4>Our tech</h4>

<p>We're using cutting edge technology to drive accessible urban transportation forward. Our fully electric scooters are a joy to ride!</p>

<img src="../../assets/images/our-integrity.jpg" alt="">

<h4>Our integrity</h4>

<p>We are fully commited to deliver a great yet safe, sustainable micro-mobility experience in every city we serve.</p>

<img src="../../assets/images/our-community.jpg" alt="">