<br>
<img src="../../assets/images/near-you.jpg" alt="">
<svg xmlns="http://www.w3.org/2000/svg" width="452" height="151"><g fill="none" fill-rule="evenodd" stroke="#FCB72B" stroke-linejoin="bevel" stroke-width="15"><path d="M407.952 145.444l38.426-38.426-38.426-38.426"/><path d="M0 8h270.115v99.369h176.263"/></g></svg>
<h3>Coming to a city near you</h3>

 <p>Scoot is available in 4 major cities so far. We’re expanding rapidly, so be sure 
  to let us know if you want to see us in your hometown. We’re aiming to let our 
  scooters loose on 23 cities over the coming year.</p> 

<button>Learn More</button>
