<app-navbar></app-navbar>
<div>
    <h3>Locations</h3>
</div>

<img src="../../assets/images/world-map-mobile.png" alt="">
<div>
<p>New York</p>
<p>London</p>
<p>Jakarta</p>
<p>Yokohama</p>
</div>

<h3>Your City Not Listed?</h3>

<p>If you'd like to see Scoot in your hometown , be sure to let us know. We track requests and plan launches based on demand. Feel free to message us by clicking the link or messaging us on social</p>
<button>Message Us</button>
<app-footer></app-footer>
<app-secondary-footer></app-secondary-footer>