<app-navbar></app-navbar>
<div class="locations">
    <h2>Locations</h2>
</div>

<img src="../../assets/images/world-map-mobile.png" alt="">
<div>
<p class="background">New York</p>
<p class="background">London</p>
<p class="background">Jakarta</p>
<p class="background">Yokohama</p>
</div>

<h3>Your City Not Listed?</h3>

<p class="instruct">If you'd like to see Scoot in your hometown , be sure to let us know. We track requests and plan launches based on demand. Feel free to message us by clicking the link or messaging us on social</p>
<button>Message Us</button>
<app-footer></app-footer>
<app-secondary-footer></app-secondary-footer>