@media (max-width: 1480px)
{
section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 375px){
    section{
        display: block;
        justify-content: center;
        align-items: center;
    }
}