



@media (min-width: 375px){
    section{
        display: block;
        justify-content: center;
        align-items: center;
    }
}

@media(min-width:800px) {
    section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media (min-width: 1480px) {
    section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}