
<img src="../../assets/images/telemetry.jpg" alt="">
<svg xmlns="http://www.w3.org/2000/svg" width="375" height="151"><g fill="none" fill-rule="evenodd" stroke="#FCB72B" stroke-linejoin="bevel" stroke-width="15"><path d="M740.969 8H182.854v99.369H6.591"/><path d="M44.64 145.64L6.214 107.214 44.64 68.787"/></g></svg>
<h3> Easy to use riding telemetry</h3>


<p>The Scoot app is available with riding telemetry. This means it can show you your 
  average speed, how long you've been using the scooter, your traveling distance, 
  and many more things all in an easy to use app.</p>  

  <button>Learn More</button>
