h4{
    width: 311px;
    height: 28px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.892857px;
    color: #495567;
}

p{
   width: 311px;
   height: 100px;
   font-family: 'Lexend Deca';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 25px;
   text-align: center; 
   color: #939CAA;
}