@media(min-width: 375px){
img {
        position: relative;
        border-radius: 50%;
        width: 311px;
        height: 311px;
        left: 20px;
    }

    h3 {
        position: relative;
        width: 311px;
        height: 32px;
        color: #495567;
        text-align: center;
        left: 20px;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
    }

    p {
        position: relative;
        width: 311px;
        height: 100px;
        font-family: 'Lexend Deca';
        font-style: normal;
        color: #939CAA;
        text-align: center;
        left: 20px;
    }

    h4 {
        position: relative;
        width: 311px;
        height: 28px;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        letter-spacing: -1.07143px;
        color: #495567;
        left: 20px;
    }
}

@media(min-width: 1440px){
    h3{
        position: relative;
        top: -300px;
        left: 500px;
    }

    .tech{
        position: relative;
        top: -300px;
        left: 150px;
    }

    .integrity{
        position: relative;
        top: -820px;
        left: 500px;
    }

       .commited{
        position: relative;
        top: -1340px;
        left: 900px;
    }

    .tech2{
        position: relative;
        top: -300px;
        left: 130px;
    }

   .cutting-edge{
        position: relative;
        top: -300px;
        left: 130px;

        }

    .integrity2{
        position: relative;
        top: -819px;
        left: 495px;
    }

    .commited1{
        position: relative;
        top: -823px;
        left: 500px;
    }

    .community{
        position: relative;
        top: -1340px;
        left: 900px;
    }

    .communityp{
        position: relative;
        top: -1350px;
        left: 900px;
    }
}
