<div class="conatiner">
 <br>   
<h3>Why join us?</h3>

<img class="tech" src="../../assets/images/our-tech.jpg" alt="">

<h4 class="tech2">Our tech</h4>

<p class="cutting-edge">We're using cutting edge technology to drive accessible urban transportation forward. Our fully electric scooters are a joy to ride!</p>

<img class="integrity" src="../../assets/images/our-integrity.jpg" alt="">

<h4 class="integrity2">Our integrity</h4>

<p class="commited1">We are fully commited to deliver a great yet safe, sustainable micro-mobility experience in every city we serve.</p>

<img class="commited" src="../../assets/images/our-community.jpg" alt="">

<h4 class="community">Our Community</h4>

<p class="communityp">We support every community we serve. All workers are paid a living wage based on their location and are Scoot employees.</p>

</div>
