<div class="General-Manager">
    <h4>General Manager</h4>
    <p>Jakarta,Indonesia</p>
    <button>Apply</button>
</div>
<div class="UI-UX">
    <h4>UI/UX</h4>
    <p>Yokahama,Japan</p>
    <button>Apply</button>
</div>
<div class="Blog">
    <h4>Blog Content Copywriter</h4>
    <p>New York, United States</p>
    <button>Apply</button>
</div>
<div class="Graphic">
    <h4>Graphic Designer</h4>
    <p>New York,United States</p>
    <button>Apply</button>
</div>
<div class="Indo">
    <h4>General Manager</h4>
    <p>Jakarta,Indonesia</p>
    <button>Apply</button>
</div>
