div{
    position: relative;
    width: 311px;
    height: 190px;
    background: #F2F5F9;
    left: 20px;
}

h4{
    text-align: center;
}

p{
    text-align: center;
}

button{
  position: relative;
  left: 130px;
  background: #FCB72B;
  color: #F2F5F9;
}