@media(min-width: 375px){
div {
        position: relative;
        width: 311px;
        height: 190px;
        background: #F2F5F9;
        left: 20px;
    }

    h4 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    button {
        position: relative;
        left: 130px;
        background: #FCB72B;
        color: #F2F5F9;
    }
}

@media(min-width: 1440px){
    .General-Manager{
        width: 1110px;
        height: 128px;
        top: -1300px;
        left: 130px;
    }

    .UI-UX{
        width: 1110px;
        height: 128px;
        top: -1290px;
        left: 130px;
    }

    .Blog{
        width: 1110px;
        height: 128px;
        top: -1290px;
        left: 130px;
    }

    .Graphic{
        width: 1110px;
        height: 128px;
        top: -1290px;
        left: 130px;
    }

    .Indo{
        width: 1110px;
        height: 128px; 
        top: -1290px;
        left: 130px;
    }
}