@media(min-width: 375px){
    div {
            position: relative;
            background-image: url("../../assets/images/home-hero-mobile.jpg");
            width: 375px;
            height: 658px;
            bottom: 70px;
    
        }
    
        h2 {
            position: relative;
            width: 311px;
            height: 120px;
            font-family: 'Space Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            text-align: center;
            letter-spacing: -1.78571px;
            color: #FFFFFF;
            left: 20px;
        }
    
        p {
            position: relative;
            width: 311px;
            height: 125px;
            font-family: 'Lexend Deca';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            color: #FFFFFF;
            left: 20px;
        }
    
        button {
            position: relative;
            width: 180px;
            height: 53px;
            left: 98px;
            background: #FCB72B;
            color: #FFFFFF;
            left: 90px;
        }

        svg{
            position: relative;
            
            top: 170px;
            left: -290px;
            overflow: hidden;
        }

} 

@media (min-width: 1440px){

    div{
        position: relative;
        background-image: url("../../assets/images/home-hero-desktop.jpg");
        width:1440px;
        height: 650px;
        background-repeat:no-repeat;
        left: 7px;
        
    }

    h2{
        position: relative;
        width: 500px;
        height: 112px;
        top: 140px;
        left: 105px;
    }

    p{
    position: relative;
       width: 405px;
       height: 100px; 
       top: 90px;
       left: 260px;
    }

    button{
        position: relative;
        left: -200px;
        top: 30px;
    }

        svg {
            position: relative;
            
            top: 10px;
            left: 670px;
        }

    .line{
        position: relative;
        left: -430px;
        top: -130px;
    }
}