div{
    position: relative;
    height: 64px;
    width: 375px;
    top: 75px;
    left: 10px;
}

.scoot{
    position: relative;
    overflow: visible;
    left: 120px;
    bottom: -5px;
}