<img src="../../assets/images/payments.jpg" alt="">
<svg xmlns="http://www.w3.org/2000/svg" width="350" height="151"><g fill="none" fill-rule="evenodd" stroke="#FCB72B" stroke-linejoin="bevel" stroke-width="15"><path d="M740.969 8H182.854v99.369H6.591"/><path d="M44.64 145.64L6.214 107.214 44.64 68.787"/></g></svg>
<h3>Zero hassle payments</h3>

  <p>Our payment is as easy as one two three. We accept most credit cards and debit cards. 
  You can also link your PayPal account inside the app. Need to pay later? No worries! 
  You can defer payment for up to a month.</p> 

 <button>Learn More</button> 
