h4{
            position: relative;
            width: 311px;
            height: 28px;
            font-family: 'Space Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            letter-spacing: -1.42857px;
            overflow: visible;
            color: #495567;
            left: 30px;
        
}

h3{
        position: relative;
        width: 311px;
        height: 28px;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        letter-spacing: -1.42857px;
        overflow: visible;
        color: #495567;
        left: 25px;
}

.background{
    position: relative;
    width: 311px;
    height: 311px;
    background: #F2F5F9;
    left: 25px;
    
}

.background-2{
    position: relative;
    width: 311px;
    height: 112px;
    background: #F2F5F9;
    left: 25px;
    
}